* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

main {
  width: 100%;
  margin: 0 auto;
  background-color: #cecaca;
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding: 3%;
}

.topnav {
  padding: 30px;
  background-color: #333;
  overflow: hidden;
}

.topnav button {
  border-radius: 3px;
  border: solid white 1px;
  margin: 10px;
  float: right;
  color: black;
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
  background-color: #333;
}

.topnav button:hover {
  background-color: gray;
}

.topnav button.active {
  background-color: #04AA6D;
  color: #333;
}

a {
  color: #ddd;
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  width: calc(30% - 40px);
  height: calc(20vw - 40px);
  background-color: rgb(21, 131, 7);
  margin: 40px;
  background-position: center;
  background-size: cover;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.8);
}

.card > p {
  background-color: rgb(15, 202, 124);
  padding: 10px 15px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.8);
}

img {
  width: 100%;
}
